html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, sans-serif, arial;
    padding: 50px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 0 20px;
  }
  
  #pagosForm {
    align-items: center;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  
  #pagosForm input {
    display: none;
  }
  
  #pagosForm label {
    background-color: #00AF3F;
    border-radius: 25px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
  }
  
  #pagosTable {
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
  }
  
  #pagosTable td,
  #pagosTable th {
    color: #444;
    font-size: 14px;
    padding: 15px 15px;
  }
  
  #pagosTable thead {
    border-bottom: 2px solid #ddd;
  }
  
  #pagosTable thead th {
    background-color: #f5f5f5;
  }
  
  #pagosTable tbody {
    padding: 10px;
  }
  
  #pagosTable tbody tr:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  
  #pagosTable tbody td:not(:last-child) {
    border-right: 1px solid #eee;
  }